[submodule "backend"]
	path = backend
	url = https://github.com/ProvaTryon/Prova-Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/ProvaTryon/Prova-Frontend.git
[submodule "tryon"]
	path = tryon
	url = https://github.com/ProvaTryon/Prova-AI
